<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    
    <add name="MySqlLocal" connectionString="server=localhost;User Id=renato;Persist Security Info=True;database=sms; Password=taroba" providerName="" />
    <add name="MySqlLocal2" connectionString="server=localhost;User Id=renato;Persist Security Info=True;database=atencaoassist; Password=taroba" providerName="" />
   
    <!--<add name="MySqlLocal" connectionString="server=186.251.66.111;User Id=renato;Persist Security Info=True;database=sms; Password=taroba" providerName="" />
    <add name="MySqlLocal2" connectionString="server=186.251.66.111;User Id=renato;Persist Security Info=True;database=atencaoassist; Password=taroba" providerName="" />-->
    
    <add name="MinhaStringAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\Relatorios.mdb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>